.container {
    border: 2px solid #a2a2a6;
    padding: 10px;
    margin: 10px auto;
}

.color-set {
    display: block;
    unicode-bidi: isolate;
}

.color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}

.federal-Blue {
    background-color: #03045e;
    color: aliceblue;
}

.honolulu-blue {
    background-color: #0077b6;
}

.pacific-cyan {
    background-color: #00b4d8;
}