.container {
    margin: 0 auto;
    border: 2px solid #a2a2a6;
}

.container>h2 {
    padding-left: 4px;
}

.color-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.color-panel {
    width: 20rem;
    text-align: center;
    margin: 4px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffc200;
}

.federal-Blue {
    background-color: #03045e;
    color: aliceblue;
}

.honolulu-blue {
    background-color: #0077b6;
}

.pacific-cyan {
    background-color: #00b4d8;
}

.non-photo-blue {
    background-color: #90e0ef;
}

.light-cyan {
    background-color: #CAF0F8;
}

.font-type {
    display: flex;
    flex-wrap: wrap;
}

.flex-box-practice {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.source-code-font {
    width: 20rem;
    display: inline-flex;
    font-family: 'Source Code Pro', monospace;
}

.nunito-sans-font {
    width: 20rem;
    display: inline-flex;
    font-family: 'Nunito Sans', sans-serif;
}

.poppins-font {
    width: 20rem;
    display: inline-flex;
    font-family: Poppins, sans-serif;
}

p {
    margin: 0px;
    font-size: 16px;
    padding-bottom: 0px;
}

.font-label {
    margin: 0px;
    font-size: 20px;
    text-decoration: underline;
}

.main-page-heading>.main-weight {
    font-weight: 700;
}

.main-page-heading>.main-size {
    font-size: 26px;
}

.main-page-heading>.main-font {
    font-family: 'Nunito Sans';
}